body {

    width: auto;
    height: auto;
    background-color: whitesmoke;
}

.pantalla {

    height: 100px;
    width: auto;
    border: 1px solid black;
    
}

button {

    height: 45px;
    width: 45px;
}

.numeros {

    position: relative;
    height: auto;
    width: 100%;
}

.operaciones {

    position: relative;
    height: auto;
    width: 100%;
}